<div class='form-header'>
  <h1 class='form-header-text'>
    登録が完了しました
  </h1>
</div>
  
<div class="form-group">
  <h2 class='form-bottom-text'>
    <%= link_to "トップへ戻る", root_path%>
  </h2>
</div>
